.news-section {
  max-width: 1000px;
  width: 100%;
  padding: 10px 80px;
}

.article-item {
  margin: 30px 0;
  border: 1px solid #cbcbcb;
  border-radius: 20px;
  padding: 30px 30px;
  box-shadow: 3px 5px 5px #dedede;
}

.article-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.article-img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  margin: 10px;
}

.article-content {
  margin: 10px;
}

.article-info {
  text-align: start;
  margin: 2px 0;
}

.article-author,
.article-source,
.article-time {
  margin-right: 10px;
  font-weight: 500;
  color: #9e9e9e;
}

.article-title {
  margin: 0;
  color: #2d2d2d;
  font-size: 20px;
}

.article-description {
  margin: 5px 0;
  color: #2d2d2d;
}

.no-news-data {
  text-align: center;
  border: 1px solid #cbcbcb;
  border-radius: 20px;
  padding: 60px;
  font-weight: 500;
  font-size: 18px;
  color: #657e8d;
}

.section-title {
  color: #2d2d2d;
  margin: 70px 0 0 0;
}

.sub-title {
  font-weight: 500;
}

.finish-load {
  color: #7c9aad;
  margin-top: 60px;
}

.loading-data {
  display: flex;
  justify-content: center;
  > img {
    height: 300px;
  }
}

@media screen and (max-width: 960px) {
  .article-img {
    aspect-ratio: 3/3;
  }
}

@media screen and (max-width: 850px) {
  .news-section {
    padding: 10px 30px;
  }
  .article-item {
    padding: 10px 20px;
    margin: 16px;
  }
  .article-link {
    flex-direction: column;
  }
  .article-img {
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 100%;
  }
  .article-title {
    font-size: 16px;
  }
  .article-description {
    font-size: 12px;
  }
  .article-author,
  .article-source,
  .article-time {
    font-size: 10px;
  }
  .news-top {
    padding: 0 42px;
  }
}
